{
    "name": "profile_send",
    "callmode": "notify",
    "delivermode": "sharding",
    "serverimpl": "rabbitmq",
    "coder": "mail",
    "options": {
        "cdc": "sh",
        "sdc": "sh",
        "serversubname": "profile",
        "serverseq": 1,
        "servercardinality": 1
    }
}
