{
    "name": "incident_notify",
    "callmode": "notify",
    "delivermode": "topic",
    "serverimpl": "rabbitmq",
    "coder": "mail",
    "options": {
        "serversubname": "web",
        "sdc":"nebula",
        "cdc":"nebula"
    }
}