.tran{
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
.clear:after{
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}
html{font-size: 100px;}
ul,li{list-style-type: none;}
/*.noBorder{border-bottom: 0 !important;}*/
h1{padding:0 15px;color:#27a9e0;font-size:0.32rem;}
.noHeight{height: 0 !important;}
.conList{padding-left: 0;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;background-color: #fcfcfc;}
.conList-header{background: #ededed;padding: 10px 30px;border-top:3px solid #3c8dbc;border-radius: 5px;}
.conList-header span:first-child{width: 105px;display: inline-block;}
.labeled{display: none;}
.labeled-head{color: #555;border-top:1px solid #ddd;}
.user-info-region{height: 100%;min-width: 1px;position: relative;width: 90%;float: left;padding: 0 30px;/*border-right: 1px solid #ddd;*/}
.actions-region{height: 100%;min-width: 1px;position: relative;width: 10%;float: left;padding: 0 20px;}
.toggleBtn{width: 0.4rem;height:0.4rem;margin:17px auto 0;cursor: pointer;}
.toggleBtn span{display: block;width:0.2rem;height:0.2rem;border-left:4px solid #27a9e0;border-top:4px solid #27a9e0;transform: rotateZ(45deg);pointer-events: none;margin: 25px 10px;transform-origin: 25% 25%;}
.toggleBtn span.show{transform: rotateZ(225deg);}
.toggleBtn span *{pointer-events:none;}
.labeled-inn{position: relative;height: auto;border-top:1px solid #ddd;}
.close{height: 0}
.attribute{border:1px solid #ddd;width: 200px;position: relative;}
.attribute>span{display: block;position: absolute;top:0px;right:0;padding: 0 0 10px 10px;;cursor: pointer;z-index: 9}
.attribute>span>p:first-child{width:8px;height:1px;transform:rotate(45deg) translateX(8px);transform-origin:left top;background: #ddd;}
.attribute>span>p:last-child{width:8px;height:1px;transform:rotate(-45deg) translateY(8px);transform-origin:left top;background: #ddd;}
.attribute svg{fill: #aaa;height: 8px;width: 8px;}
.labled-msg{float: left;width:100%;padding: 0 30px;}
/*.labled-msg-right{float: left;width:10%;padding: 0 30px;}*/
.user-info-container{padding: 8px 0;}
.user-info-container .mark1{line-height:50px;padding: 0 15px 0 0;color:#555;font-weight: 600;font-size: 24px !important;vertical-align: middle; }
.user-info-container .mark1 , .user-info-container .baseinfo{float: left;height: 100%;margin-right:0.3rem;}
.user-info-container .mark1>span{padding-left: 10px;}
.user-info-container .baseinfo{}
.baseinfo p{font-size: 12px;line-height: 14px;}
.user-info-container p{margin-bottom: 0;}
.attributeBox{padding: 15px 0;}
.attribute{width: 25%;margin:8px 8%;float: left;text-align: left;margin-left: 0;}
.attribute p{padding-left: 15px;font-size: 12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin: 5px 0;width:85%;}
.attribute p:nth-child(2){font-size:14px;}
.select{float: left;position: relative;width: 25%;margin:0 auto;}
.select>a{display: inline-block;border:1px dashed;margin-top: 8px;color:#27a9e0;}
.select>a:hover{opacity: 0.9;}
.selectBox{width:100%;padding:0;background:#fff;max-height:200px;overflow-y:scroll;display: none;position: absolute;z-index: 99;border:1px solid #ddd;}
.selectBox li{margin:0 10px;padding:15px 0;border-bottom: 1px solid #ddd;cursor: pointer;}
.baseinfo .baseinfoName{color: #27a9e0;font-size:20px;line-height: 25px;}
#page{text-align: right;margin-bottom: 10px;}
#page button{background: #fff;border:1px solid #ddd;border-radius:8px;width: 30px;height: 30px;outline:none;vertical-align: middle;}
#page button:first-child svg{transform: rotateZ(90deg);}
#page button:nth-child(2){margin-right:10px;}
#page button:nth-child(2) svg{transform: rotateZ(-90deg);}
@media(max-width: 678px){
	html{font-size: 50px;}
	.actions-region{padding:0;}
	.attribute{width: 48%;margin: 8px 0;}
	.attribute:nth-child(odd){margin-right: 3.8%;}
	.baseinfo .baseinfoName{font-size:16px;l}
}