h1,h2,h3{margin: 0}
ul,li{list-style-type: none;padding: 0;cursor: pointer;}
input{outline: none;}
.tran{
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
.clear:after{
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}
html{font-size: 100px;}
.container{background: #fff;}
.row{padding:10px;}
#page1 .page1Header{padding-bottom: 10px;border-bottom: 1px solid #ddd;margin-bottom: 15px;}
#page1 .page1Header h1{padding: 0 15px;color: #27a9e0;font-size: 0.32rem;float: left;margin: 0;font-size: 28px;line-height: 28px;font-weight: 600;}
#page1 .page1Header a{float:right;}
#page1 .running{padding: 0;}
#page1 .running .flowCard{cursor: pointer;justify-content: space-around;padding: 15px;width: 45%;float: left;margin: 10px 2%;
border: 1px dashed #ddd;border-radius: 10px;cursor: pointer;margin: 10px;min-height: 240px;overflow: hidden;}
#page1 .running .flowCard:hover{ border-color: #27a9e0;border-width: 2px;}
#page1 .flowCard h3{color: #919191;font-size: 18px;margin: 0;text-align: center;}
#states{min-width: 400px;border:1px solid #ddd;border-radius:5px;font-size: 14px;line-height: 21px;padding: 8px 13px;}
.tt-hint{top: 7px !important;left: 12px !important;}
#page1 .runHead{background: #f2f2f2;border-bottom: 1px solid #ddd;padding: 15px 15px;vertical-align: middle;}
#page1 .run,#page1 .notActive{padding-left: 15px;}
#page1 .run li,#page1 .notActive li{border-radius: 5px;border:1px solid #ddd;width:calc(50% - 2 * 10px);float: left;margin: 10px;max-width: 400px;}
#page1 .run li:hover,#page1 .notActive li:hover{opacity: 0.6;filter:alpha(opacity=50);}
#page1 .run h3,#page1 .notActive h3{font-size: 16px;font-weight: 600;padding: 0;margin:0;float: left;line-height: 25px;height: 25px; }
#page1 .run .runHead span,#page1 .notActive .runHead span{font-size: 12px;float: right;    background: #fff;border: 1px solid #ddd;border-radius: 12.5px;color: #aaa;height: 25px;padding: 6px 10px;}
#page1 .run .runHead span:before,#page1 .notActive .runHead span:before{content: "";background-color: #3db350;display: inline-block;vertical-align: middle;border-radius: 50%;height: 8px;margin: -3px 5px 0 0;width: 8px;}
#page1 .notActive .runHead span:before{background-color: #666;}
#page1 .run .runContain p,#page1 .notActive .runContain p{padding: 5px 15px;font-size: 14px;}
#page1 .showWf>h4{margin-left: 15px;}
#page1 .showWf>h4:before{content: "";background-color: #3db350;display: inline-block;border-radius: 50%;height:12px;margin: -3px 5px 0 0;width:12px;}
#page1 .showWf>.Paused:before{background-color:#f8bb50;}
#page1 .showWf>.Progress:before{background-color:#c4c4c4;}
#page1 .noPaused{padding: 15px;width:width: calc(100% - 2 * 15px);border:2px dashed #ddd;text-align: center;border-radius: 8px;margin: 15px;}
#page1 .activation{padding: 15px;width:width: calc(100% - 2 * 15px);border:2px dashed #ddd;text-align: center;border-radius: 8px;margin: 15px;}
#page2{display: none;}
#page2 .steps{position: relative;}
#page2 .stepName{background: #fff;border: 2px dashed #ddd;border-radius: 5px;color: #919191;font: 600 14px proximanova,"Helvetica Neue",helvetica,arial;
 max-width: 200px;padding: 15px 30px;position: absolute;right: 113.75%;top: 40px;}
#page2 .toPage1 , #page2 .editWF{cursor: pointer;}
#page2 h2{display: inline-block;font-size: 18px;font-weight: 600;padding-left: 10px;line-height: 20px;}
#page2 .name{border:none;padding: 0;line-height: 20px;display:none;background: #fff;padding-left: 10px;font-size: 18px;font-weight: 600;width:50%;}
#page2  h2,#page2 .name{font-size: 12px;padding-left: 20px;}
#page2 .delWf{position: absolute;right:15px;top:1px;cursor: pointer;}
#page2 .publish{position: absolute;right: 50px;top: 0px;}

#page2 h5{color: #aaa;font-weight: 600;font-size: 12px;}
#page2 h3{color: #27a9e0;font-size: 16px;font-weight: 600;}
#page2 section{position: relative;width: 75%;margin-left: 25%;}
.stepOne:before {border-left: 2px dashed #ddd;content: '';display: block;left: calc(-18.75%);position: absolute;top: 40px;-webkit-transition: height 0.3s;
-moz-transition: height 0.3s;transition: height 0.3s;height:100%;}
#page2 .stepOne>p{font-size: 14px;color: #555;margin:20px 0;}
#page2 .stepOne>p>font{font-size: 12px;}
#page2 .addRoutes{margin-bottom: 20px;}
#page2 .addCriteria{border:none;background: transparent;color:#27a9e0;height:30px;line-height: 30px;outline: none;}
.page2Header{border-bottom:1px solid #ddd;padding-bottom: 10px;position: relative;}
.routesModus:before,.routesModusElse:before {border-bottom: 2px dashed #ddd;width: calc((18.75%) - 10px);content: '';display: block;left: calc(-18.75%);position: absolute;top: 20px;}
.routesInn .icon-del3{font-size: 12px;}
.primary{;border-color: #27a9e0;border-radius: 5px;cursor: pointer;background-color: #27a9e0;color: #fff;font-size: 12px;line-height: 14px;padding: 6px 15px;}
.routesModus,.routesModusElse{border-radius: 8px;border:1px solid #ddd;margin-bottom: 20px;max-width: 800px;}
.routesModusHead{border-bottom: 1px solid #ddd;position: relative;}
.routesName>p{display: inline-block;padding-left:20px;}
.routesModus .editRoutesName,.routesModusElse .editRoutesName{border:none;visibility:hidden;}
/*.routesModus:before {border-bottom: 2px dashed #ddd;width: calc((18.75%) - 10px);content: '';display: block;left: calc(-18.75%);position: absolute;top: 20px;}*/
.routesModus:after,.routesModusElse:after{border-left: 2px dashed #ddd;content: '';display: block;left: calc(-18.75%);position: absolute;top: 40px;-webkit-transition: height 0.3s;
-moz-transition: height 0.3s;transition: height 0.3s;height:100%;}
.routesInn>div {float:left;vertical-align: top;padding: 20px;width: 66.6%;}
.routesInn>div:first-child{border-right: 1px dashed #ddd;min-height: 120px;}
.routesInn>div:last-child{padding-left: 20px;width: 33.3%;}
.delRoutesModus{padding: 5px;position: absolute;top:-5px;right: 10px;cursor: pointer;}
#page2 .standard{display: none;}
#page2 .delStandard{cursor: pointer;padding-left: 20px;}
.selBox1{float: left;}
 .dropP2Container .strong{float: left;line-height: 30px;}
.selectBtn{display: block;margin-left: 10px;width: 100px;height:30px;text-align: center;border:1px solid #ddd;line-height: 30px;color: #666;position: relative;}
.selectBtn:after{content:"";display: block;position: absolute;width:8px;height:8px;right: 10px;top: 12px;border: 5px solid transparent;border-top: 6px solid #666;pointer-events:none;}
.selectBtn:hover{color: #666;}
.SelectableList{box-shadow: 0 2px 4px rgba(0,0,0,0.2);border-top:0;display: none;}
.SelectableList li a{text-align: center;display: block;width: 100%;color: #666;height: 30px;line-height: 30px;}
.confirm{position: absolute;bottom:20px;right:20px;}
.selNum{float: left;}
.selNum input{margin-left:10px;border:1px solid #ddd;height: 30px;line-height: 30px;width: 100px;padding-left: 10px;}
.criteriaUl{float: left;}
.criteriaUl li{font-weight: 700;margin: 0 10px 10px 0;background-color: #fcfcfc;border-color: #aaa;color: #919191;position: relative;float: left;width:auto;height: 30px;line-height:30px;padding: 0px 40px 0px 10px;border-radius: 5px;border:1px solid #ccc;}
.criteriaUl li p{display:inline-block;padding-left:10px;}
.criteriaUl li span{position: absolute;top:1px;right:5px;}
.worryTxt{color: #e24a42;font-size: 12px;margin:3px 0 0 10px;display: none;}
.redBorder{border:1px solid #e24a42 !important;}

/*rotes-弹窗*/
.dropdownCriteria{border-radius:5px;box-shadow: 0 2px 4px rgba(0,0,0,0.2);position: absolute;z-index:100;display: none;overflow:hidden;}
.dropdownInn{padding: 20px;background: #fff;}
.dropdownInn{width:500px;height: 300px;} 
.dropP1{width: 100%;height: 100%;}
.dropP1 ul{overflow-y: scroll;height: 100%;margin-top: 18px;}
.dropP1 ul li a{display:block;height: 40px;line-height: 40px;vertical-align: middle;color: #555;font: 600 14px proximanova,"Helvetica Neue",helvetica,arial;border-bottom: 1px solid #ddd;}
.dropP1 ul li a:hover{height:60px;line-height: 60px;font-size: 16px;}
.dropdownCriteria .colseDropDown{position: absolute;top:10px;right:10px;z-index: 111}
.dropP2{width: 100%;height: 100%;position: absolute;top: 0;left: 500px;z-index: 101;background: #fff;padding: 20px;}
.dropP2 .dropP2Container{margin-top: 25px;}
.dropP2 .toBack{position:absolute;top: 20px;left: 20px;}
.dropP2 label{display: inline-block;font-weight: 600;height: 20px;width:35%;text-align: center;position: relative;}
.dropP2 label:first-child{margin-left: 10%;}
.dropP2 label:before{content: '';cursor: pointer;margin-top: -2px;position: absolute;height: 16px;left: 0;top: 2px;width: 16px;border-radius: 3px;border:1px solid #ddd;}
.dropP2 label:after{content: '';cursor: pointer;margin-top: -2px;position: absolute;-webkit-transition: none;-moz-transition: none;
transition: none;-webkit-animation: bounce-in 0.5s;-moz-animation: bounce-in 0.5s;animation: bounce-in 0.5s;height: 10px;left: 3px;
top: 5px;width: 10px;background-color: #27a9e0;}
.setDecision{background-color: #fcfcfc;border-color: #aaa;color: #919191;border-radius: 5px;border:1px solid #ddd;padding:8px 15px;width: 150px;display: inline-block;height:35px;}
.dropdownDection{position: absolute;top: 0;left: 0;display: none;background: #fff;width: 171px;box-shadow: 0 2px 4px rgba(0,0,0,0.2);}
.dropdownDection li{padding: 8px 15px;width: 150px;}
/*.standardName{display: none;}*/
.dropdownDection ul{padding-left: 0;}
.dropdownStatus{position: absolute;background: #fff;display: none;width:400px;box-shadow: 0 2px 4px rgba(0,0,0,0.2); }
.dropdownStatus li{padding: 5px 15px;cursor: pointer;}

#delModal #edit_modal_title{color: #3c8dbc;padding: 0 10px;}
.modal-content{border-radius: 7px;}
#delModal .modal-header{border-bottom:none;}
#delModal .modal-body {padding: 0 15px;}
#delModal .modal-footer{border-top: none;}
.delModalTitle{font-size: 24px;width: 100%;border-bottom: 1px solid #ddd;color: #27a9e0;margin: 0 30px 0 0;padding: 0 0 10px;}
.modal-header .close {font-size: 35px;}