{
    "name": "offline_continuousquery",
    "callmode": "polling",
    "delivermode": "topic",
    "serverimpl": "rabbitmq",
    "coder": "mail",
    "options": {
        "cdc": "sh",
        "sdc": "sh",
        "serversubname": "offline",
        "servercardinality": 1
    }
}
