[mysqld]
log_error = /data/web/mysql/error.log
port=3306 #值来源于/etc/nebula/nebula.conf mysql_port字段
datadir = /data/web/mysql
pid-file = /tmp/mysql.pid

# slow query log
slow_query_log = 1
long_query_time = 5
slow_query_log_file = /data/web/mysql/slow.log

general_log_file = /data/web/mysql/general.log
tmpdir = /tmp