{
    "name": "licenseinfo",
    "callmode": "rpc",
    "delivermode": "shuffle",
    "serverimpl": "redis",
    "coder": "mail",
    "options": {
        "cdc": "sh",
        "sdc": "sh",
        "serversubname": "nebula"
    }
}
