{
    "name": "offline_continuousquery",
    "callmode": "rpc",
    "delivermode": "topic",
    "serverimpl": "redis",
    "coder": "mail",
    "options": {
        "cdc": "sh",
        "sdc": "sh",
        "serversubname": "offlinecontinuous",
        "servercardinality": 1
    }
}