{
  "name": "persistentquery_progress",
  "callmode": "notify",
  "delivermode": "topic",
  "serverimpl": "redis",
  "coder": "mail",
  "options": {
    "cdc": "sh",
    "sdc": "sh",
    "subname": "web",
    "servercardinality": 1,
    "serverseq": 1
  }
}
