{
  "name": "profilenoticechecker",
  "callmode": "notify",
  "delivermode": "shuffle",
  "serverimpl": "redis",
  "coder": "mail",
  "options": {
    "cdc": "sh",
    "sdc": "sh"
  }
}