
{
    "name": "httplog_notify",
    "callmode": "notify",
    "delivermode": "sharding",
    "serverimpl": "redis",
    "coder": "mail",
    "options": {
        "serversubname": "web",
        "sdc":"sh",
        "cdc":"sh"
    }
}
