{
    "name": "incidentquery",
    "callmode": "polling",
    "delivermode": "shuffle",
    "serverimpl": "redis",
    "coder": "mail",
    "options": {
        "cdc": "sh",
        "sdc": "sh",
        "servercardinality": 1,
        "serverseq": 1
    }
}
