{
  "name": "persistentquery_crud",
  "callmode": "rpc",
  "delivermode": "shuffle",
  "serverimpl": "rabbitmq",
  "coder": "mail",
  "options": {
    "cdc": "sh",
    "sdc": "sh",
    "servercardinality": 1,
    "serverseq": 1
  }
}