
{
    "name": "offline_stat_query",
    "callmode": "rpc",
    "delivermode": "sharding",
    "serverimpl": "redis",
    "coder": "mail",
    "options": {
        "serversubname": "",
        "servercardinality": 1,
        "serverseq": 1,
        "sdc":"sh",
        "cdc":"sh"
    }
}
