
{
    "name": "offline_baselinekeystatquery",
    "callmode": "polling",
    "delivermode": "topic",
    "serverimpl": "rabbitmq",
    "coder": "mail",
    "options": {
        "cdc": "sh",
        "sdc": "sh",
        "servercardinality": 1,
        "serverseq": 1
    }
}
