{
    "name": "realtimequery",
    "callmode": "rpc",
    "delivermode": "sharding",
    "serverimpl": "rabbitmq",
    "coder": "mail",
    "options": {
        "cdc": "sh",
        "sdc": "sh",
        "servercardinality": 1,
        "serverseq": 1
    }
}