<configuration>
    <property name="LOG_DIR" value="/data/logs/labrador"/>
    <property name="LOG_FILE_NAME" value="labrador.log"/>

    <!-- Output to File and Rotate if it's necessary -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy name="ROLLING" class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%date [%-5thread] %-5level [%-10logger] %-10msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.threathunter" level="INFO" additivity="false">
        <appender-ref ref="ROLLING"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>
